
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Music's Pool is a music sharing platform for upcoming artists, and for regular music enthusiasts.">
    <meta name="author" content="Illuminos Solutions Ltd.">
    <meta name="keywords" content="Pool, Music, Music's Pool, Artists, Independent, Rap, Sound, Art, Aspiring, Technology, New, musicspool,
    independent artists, listeners">
    <meta name="google-site-verification" content="vjylg1st036ewgjeRNj7v7rsEETT3DnPkO8arbGBwT0" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Music's Pool - The next big thing</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" type="text/css">
    <link href="https://www.musicspool.com/css/app.css?id=cf34ad4dbd239be7b5e1" rel="stylesheet">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="wfmSWvKFFRUipuTcJuUe5XK9HNoFwXHz8mGEamfg">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152477001-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-152477001-1');
    </script>
</head>

<body>
    <!-- h1 for SEO purposes -->
    <h1 style="display: none;">Music's Pool - Dive in and discover or become the next big thing</h1>
    <div id="app" :class="{'pool-dark' : isDark}">
        <sidebar v-if="isApp"></sidebar>
        <router-view v-if="!isApp"></router-view>
        <div v-else id="page-content-wrapper">
            <div style="min-height: 100vh; width: 100%; display: flex; flex-direction: column;">
                <div class="mainContent pb-5">
                    <router-view></router-view>
                </div>
                <player></player>
                <mobileplayer></mobileplayer>
                <audio ref="mainPlayer" id="audio-player" class="audio-player hide" @ended="nextSong"
                    @timeupdate="initProgressBar">
                    <source v-if="currentSong" :src="'/api/songs/stream/' + currentSong.id"
                        type="audio/mpeg" id="audio-src">
                </audio>
            </div>
        </div>
    </div>
        <script src="https://www.musicspool.com/js/vue.js?id=4b3a0851ee263f5e18f0"></script>
</body>

</html>
